.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.row-striped:nth-of-type(odd){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

#formcontainer{
    background-color: rgba(82, 82, 82, 0.47);
}
body{background-color: rgba(96, 105, 89, 0.18);}